#icon{
  display: flex;
}

#button, #back{
  background-color: #212529;
  border: none;
  button:hover {
    color: gray;
  }
}

.card{
  margin-top: 20px;
  #singleConcert{
    margin-top: 20px;
    border-radius: 2%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../../assets/ticket-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .date, .loc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .date .icon, .date p, .loc .icon, .loc p {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 5px;
  }
  #form{
    margin-top: 20px;
  }
  .card-title{
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .card-text{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
  }
  #send{
    margin-top: 30px;
  }
  .form-group{
    margin-top: 10px;
  }
  .formInput{
    font-weight: bold;
  }
}

div.card.comment-card{
  height: 400px;
  overflow-y: auto;
  border: none;
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background-color:#41526C;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #2f3c4e;
  }
}

#commentButton{
  display: flex;
  justify-content: space-between;
  #info, #delete{
    background-color: #41526C;
    color: white;
    &:hover{
      background-color: #3b4353;
    }
  }
}
