#icon{
  display: flex;
}

#button, #back{
  background-color: #212529;
  border: none;
  button:hover{
    color: gray;
  }
}

.card{
  margin-top: 20px;
  #singleConcert{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .date, .loc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .date .icon, .date p, .loc .icon, .loc p {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  #form{
    margin-top: 20px;
  }
  .card-title{
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .card-text{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
  }
  #send{
    margin-top: 30px;
  }
  .form-group{
    margin-top: 10px;
  }
  .formInput{
    font-weight: bold;
  }
}

#commentButton{
  display: flex;
  justify-content: space-between;
}
