#icon{
  display: flex;
}

#button, #back{
  background-color: #212529;
  border: none;
  button:hover{
    color: gray;
  }
}

.card{
  background: rgb(185,221,238);
  background: radial-gradient(circle, rgba(185,221,238,1) 0%, rgba(73,93,148,1) 100%);
  .card-text{
    font-weight: bold;
  }
}


