#icon{
  display: flex;
}

#button, #back{
  background-color: #212529;
  border: none;
  button:hover{
    color: gray;
  }
}

.card{
  background: rgb(80,94,162);
  background: radial-gradient(circle, rgba(80,94,162,1) 0%, rgba(0,12,36,1) 100%);
  .card-text{
    font-weight: bold;
  }
}


