#register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../assets/registerimg.jpg');
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  width: 50%;
  height: 90%;
  border-radius: 5px;
  background: rgb(221,218,218);
  background: linear-gradient(0deg, rgba(221,218,218,1) 0%, rgba(134,134,134,1) 100%);
  box-shadow: 0px 2px 15px 2px rgba(black, 0.68);
}
