#icon{
  display: flex;
}

#button{
  background-color: #212529;
  border: none;
  button:hover{
    color: gray;
  }
}

.card{
  background-color: #afb7c8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  #researchBar{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  display: flex;
  justify-content: center;
  }
  h3{
    font-weight: bold;
    color: black
  }
}

#link{
  color: white;
  text-decoration: none;
}
